body {
    background-color: #d9e0e2;
    color: #26313b;
}

body h1 {
    color: #ff3c1f;
    background-color: #a6abaf;
    display: inline;
}

body img {
    display: block;
}

body a {
    color: #000099;
}

body a:hover {
    color: #26313b;
}