body {
    background-color: #d9e0e2;
    color: #26313b;
}

body h1, h3 {
    color: #ff3c1f;
    text-shadow: 2px 2px 4px #000;
    background-color: #a6abaf;
    display: inline;
}

body img {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

body a {
    color: #000099;
}

body a:hover {
    color: #26313b;
}