body {
    background-color: #d9e0e2;
    color: #26313b;
}

body h1, h3 {
    color: #ff3c1f;
    -webkit-text-stroke: 1px #26313b;
    background-color: #a6abaf;
    display: inline;
}

body img {
    display: block;
    margin-top: 10px;
}

body a {
    color: #000099;
}

body a:hover {
    color: #26313b;
}